.patient-records-container {

  .patients-container {
    display: flex;
    flex-direction: column;

    .patients-header {
      padding: 40px 48px 0px 48px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .header-text {
        font-size: 20px;
        color: #FF4747;
        font-weight: bold;
      }

      .form-button {
        padding: 12px 24px;
        border-radius: 4px;
        align-self: flex-end;
        border: none;
        background-color: #FF4747;
        color: white;
        cursor: pointer;
      }
    }
  }

  .patient-list {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .patient-card {
      flex: 0 0 25%;

      .patient-card-inner {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 12px #efefef;
        margin: 8px;
        padding: 16px 20px;
      }

      .patient-name {
        font-size: 18px;
        margin-bottom: 4px;
      }

      .patient-number {
        font-size: 14px;
      }

      .patient-next-appointment {
        font-size: 14px;
        color: #696969;
        margin-top: 8px;

        p{
          margin: 0;
        }
      }
    }
  }
}